.header {
    padding: 0;
    border-bottom: 1px solid var(--header-border-colour);

    & .container {
            width: 1200px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding-top: 24px;
            padding-bottom: 24px;
            margin: 0px auto;
        }
    
        &__logo {
            margin-right: 93px;
            color: var(--logo-black);
        }
}



