:root {
    --brand-blue: #2196F3;
    --main-black: #212121;
    --main-grey: #757575;
    --icon-grey: #AFB1B8;
    --footer-contact-col: rgba(255, 255, 255, 0.6);
    --background-colour: #2F303A;
    --background-colour-team: #F5F4FA;
    --header-border-colour: #ECECEC;
    --portfolio-main-menu-border-box: #EEEEEE;
    --logo-black: #000000;
    --white: #FFFFFF;
    --logo-font: "Roboto", sans-serif;
    --text-font: "Raleway", sans-serif;
}
